aicsimageio==4.6.4
fire==0.4.0
hydra-core>=1.2.0.dev2
joblib==1.1.0
makefun==1.13.1
nbformat==5.2.0
numpy==1.22.3
omegaconf==2.1.1
packaging==20.9
pandas==1.4.1
pyarrow==7.0.0
pytorch_lightning>=1.5.0
PyYAML==6.0
scikit_learn==1.0.2
setuptools==59.4.0
torch>=1.7.1
torchvision>=0.8.2
